/*flex兼容app写法*/
.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex-vertical {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-justify {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-justify-sa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-justify-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-align {
    -webkit-align-items: center;
    align-items: center;
}
.flex-align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-align-base {
    -webkit-align-items: baseline;
    align-items: baseline;
}
.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*fmix*/
.fmix-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.fmix-center-v {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.fmix-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.fmix-align-sa {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.fmix-align-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.fmix-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
